@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Greetings";

    string hello = "Hello C# Marathon!";
    string welcome = "Welcome to our project!";

    DateTime day = DateTime.Now;


}
<style>
    table, tr, td {
        border: solid;
        border-width: 1px;
    }

    td {
        width: 100px;
    }
</style>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The value of myMessage is: @hello </p>
<p>The greeting is: @welcome</p>
<p>Here is Ukraine: @day.DayOfWeek</p>
<p>
    We wish you: Good
    @{
        switch (day.Hour)
        {
            case >= 0 and < 6:
                ViewData["DayPeriod"] = "Night";
                break;
            case >= 6 and < 12:
                ViewData["DayPeriod"] = "Morning";
                break;
            case >= 12 and < 18:
                ViewData["DayPeriod"] = "Day";
                break;
            case >= 18 and <= 23:
                ViewData["DayPeriod"] = "Evening";
                break;
        }
    }
    @ViewData["DayPeriod"]!
</p>
<p>Today is: @day.DayOfWeek</p>

<p>
    <table>
        <thead>
            <tr>
                <td><b>Name</b></td>
                <td><b>Value</b></td>
            </tr>
        </thead>
        <tbody>
            <tr><td>Day</td><td>@day.Day</td>
            <tr><td>Hour</td><td>@day.Hour</td></tr>
            <tr><td>Minute</td><td>@day.Minute</td></tr>
            <tr><td>Second</td><td>@day.Second</td></tr>
        </tbody>
    </table>
</p>

